.container {
  padding-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  box-sizing: border-box;

  .buttons {
    a {
      margin: 0 1vw;

      &.active {
        button {
          box-shadow: none;
        }
      }
    }
  }
}
